html { 
  background: url(https://zeyeland.com/frontResources/textures/2k_stars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  box-sizing: border-box;
  box-sizing: border-box;
}

#universe {
  z-index: 1;
  position: relative;
  width: 100vm;
  height: 100vh;
  background-position: center 40%;
  background-repeat: no-repeat;
  /* perspective: 700px; */
  background-size: cover;
  transform-style: preserve-3d; 
}

#solar-system{
 position: absolute; 
 height:100%;
 width: 100%;
 /* margin: 10%; */
/* background-image: url(https://zeyeland.com/frontResources/textures/2k_stars.jpg); */
 perspective:25em; 
 transform: rotateX(-15deg);
 transform-style: preserve-3d; 

 
}

.planet {
  position:absolute;
  border-radius: 225px;
  background-color: #202020;
  background-repeat: no-repeat;
   background-size: cover; 
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
backface-visibility: hidden;
 /* transform: scale(0.9); */
  transition-duration: 0.5s;
        transition-timing-function: ease;
}

  #sun .planet{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    background:black;
    /* margin-top: -0.5em;
    margin-left: -0.5em; */
    border-radius: 225px;
    height:100px;
    width: 100px;
    
    /* color: blueviolet; */
    /* box-shadow: 0 0 60px rgba(255, 160, 60, 0.9);  */
    background: radial-gradient(circle at 100px 100px, #f0ec09, #000);
    /* background-color: rgba(224, 117, 2, 0.9);  */
    transform-style: preserve-3d; 
  }

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border:2px solid white;
  border-radius: 50%;
  /* height: 160px;
  width: 160px; */
  transform-style: preserve-3d;
  animation: orbit; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
 }

  
    .pos {
      position: absolute;
      top: 50%;
      width: 2em;
      height: 2em;
      margin-top: -1em;
      margin-left: -1em;
      transform-style: preserve-3d;
      animation-name: invert;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 
      backface-visibility: hidden;    
      -webkit-filter: blur(0);
      filter: blur(0);
    }

    .universe .planetbig{ 
      position: absolute;
      /* left: 50%; */
      /* top: 50%; */
      height: 50%;
      width: 50%;
  
  } 

#uranus .pos {
z-index: 1;
position: absolute;
color: white;
left: 0%;
top: 50%;
}

#earth .pos {
  z-index: 1;
  position: absolute;
  color: white;
  
  /* left: 0%;
  top: 10%; */
  }


#uranus.orbit {
  width: 10.74176em;
  height: 10.74176em;
  margin-top: -4.6em;
  margin-left: -4.5em; 
}

#earth.orbit {
  width: 16.50959em;
  height: 16.50959em;
  margin-top: -7.5em;
  margin-left: -7.5em;}
 
#sun.orbit{
   border: none;
  opacity: 1;
  width: 5.50959em;
  height: 5.50959em;
  margin-top: -2em;
  margin-left: -1.8em;
}

#uranus .planet{
width: 1.5em;
height: 1.5em;
animation: shadow-uranus linear infinite;
z-index: 2;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAABGdBTUEAALGPC/xhBQAAAGBQTFRFsW89lWA2jVwzsm8+qGo72oVJrW08h1gxlWA15IpMrW09jlw0l2E2nGM3v3ZC3YdK3odKyHtE75BP8JFQ8JFQ8JFQ8JFQ8JFQw3hD8JFQ8JFQ8JFQ8JFQ8JFQ8JFQAAAAe3ooYQAAACB0Uk5Tk0+hrcTz6g7P5tkiYurz49bk79XR3vvm2PH26ezi2QCQ4vSgAAABm0lEQVQoz1VSWXaEMAzLLAw7ZHMSx0vvf8uaTtvX+icQYSRbch/vGrf7ftV0v43fV+59bNP+Oo6jtXAs0/YHWg1o4TxnqyG05bn+QOt0AUIRKWVV39qyvqF1f4VTFSqiZgWuerarz6D7KwyoqkI19k5UFYfjeUHbdJzEkLQS9cLCSELDsX24cVoCVYYMHXsphQk0Aw2v0W17OCv2CPwFIWnSBDAfmzOmSt0KmZhj1ZwERLU5N72GwsyIREwCKZtIsAe/uL3NpapW42ciMTWitXI8g9uDj/aCAEZoaqRHtf8ZmduPFAtW1kz2BWntXQRUo0FhTrVcKxLTZmNbi7Fd0NR8Vhsz5x6jZMHIrJrS3Nx98WAQ5lyJsXdGGxs0eeduS5Brs1+y2dZRe0EBajc3LuaHEKRks8qFIYrC0EZb79KM31qUbCO9l44mJWyXKY9mbMnkJzAeo0Ni/3hb+WynqDGkDJHNa/Okrd8BWJpPag1gHpdO5vL6G5tnC15rRBaI6sNj/Ru25Wjez3E+LTTbvxxaRB/PdtVj+4noJ91nOp3NTB6wAAAAAElFTkSuQmCC); 
}


#earth .planet {
  
  width: 3em;
  height: 3em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;

}

#earth .planet :after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: shadow-uranus 7s linear infinite;
  /* box-shadow: -2px -2px 5px 2px #000 inset;; */
  border-radius: 50%;
  
}

#earth .planet > div {
  width: 200%;
  height: 100%;
  animation: invert,spin 15s linear alternate infinite;
  /* animation: spin 30s linear alternate infinite; */
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg);
  
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;

}

#sun .planet {
  width: 7em;
  height: 7em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

#sun .planet :after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -2px -1px 0px 1px 2px #000 inset;
  border-radius: 50%;
}

#sun .planet > div {
  width: 200%;
  height: 100%;
  animation: spin 15s linear alternate infinite;
  /* animation: spin 30s linear alternate infinite; */
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Map_of_the_full_sun.jpg/640px-Map_of_the_full_sun.jpg);
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;

}



.planetbig .pos{
 position: absolute;
 width:10%;
 height: 10%;
 margin: 10%; 
  animation: shadow-uranus linear infinite;  
}

.planetbig .planet {
 position: absolute;
 transform: scale(2); 
/* width:10px;
height: 10px;
margin: 10px; */
 animation: shadow-uranus linear infinite;

}



#uranus .pos,
#uranus .planet,
#uranus.orbit {
 animation-duration: 7.35138s; 
 animation-delay: 0.5s; 

}

#earth .pos,
#earth .planet,
#earth.orbit {
animation-duration: 11s;
animation-delay: 0.7s;
}
/* 
#earth.orbit{

  animation: orbit 10s, popup 10s infinite;
} */


@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

@keyframes popup{
  from {
    top: 0%;
   
  }

  to {
  top: -20%;
  }
}

 @keyframes orbit {

    0% {
      transform: rotateX(90deg) rotateZ(0deg);} 
      
      100% {
        transform: rotateX(90deg) rotateZ(-360deg)}

} 

@keyframes invert { 
0% {
  transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }

100% {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } 
}

@keyframes shadow-uranus {
0% {
  box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.2);
  /* LEFT */ }

25% {
  box-shadow: inset 40px -15px 30px rgba(0, 0, 0, 0.2);
  /* BOTTOM */ }

25.01% {
  box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.2);
  /* BOTTOM */ }

50% {
  box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.2);
  /* RIGHT */ }

75% {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* TOP */ }

100% {
  box-shadow: inset 8px 0 10px rgba(0, 0, 0, 0.2);
  /* LEFT */ } }

