html { 
  /* background: url(https://zeyeland.com/frontResources/textures/2k_stars.jpg) no-repeat center center fixed;  */
    background-size: cover;
    height: 100%;
    overflow: hidden;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 15px;
 }

*{
  box-sizing: border-box;
  box-sizing: border-box;
}

#universe {
 z-index: 1; 
  position: relative;
  width: 100vm;
  height: 100vh;
   font-size: 27px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 2s; 
  background: url(../src/images/space_background.jpg) no-repeat center center fixed; 
  background-size: cover;
   height: 100%; 
   overflow: hidden;  
}

#solar-system{
 position: relative; 
 height: 90vh;
 width: 100vw;
 left: -0.5em;
 perspective:30em; 
 transform: rotateX(-15deg);
 transform-style: preserve-3d; 
}
  
.planet {
  position:absolute;
  border-radius: 225px;
  background-color: #202020; 
  /* background-repeat: no-repeat; */
  margin: auto;
  /* font-size: 22px; */
   top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   background-size: cover; 
   transform-style: preserve-3d;
  transition-duration: 0.5s;
   transition-timing-function: ease;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border:1px solid white;
  border-radius: 50%;
  font-size: 13px;
  transform-style: preserve-3d;
 
  animation: orbit; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
 }

    .pos {
      position: absolute;
      display: inline-block;
     
      top: 50%;
      width: 2em;
      height: 2em;
      margin-top: -1em;
      margin-left: -1em;
      transform-style: preserve-3d;
      animation: invert infinite linear;
      backface-visibility: hidden;    
    }

#sun .pos{
position: absolute;

  z-index:2;
}

#mercury .pos{
z-index: 3;
position: absolute;

}
 
 #venus .pos {
position: absolute;
z-index: 4;

} 

#earth .pos {
  position: absolute;  
  z-index: 5;
  }

  #mars .pos {
    position: absolute;
    z-index:6;
    } 

#venus.orbit {
  width: 11.74176em;
  height: 11.74176em;
  margin-top: -5.0em;
  margin-left: -5.0em; 
}

#earth.orbit {
  width: 16.50959em;
  height: 16.50959em;
  margin-top: -7.5em;
  margin-left: -7.5em;}
 
#sun.orbit{
  border: none;
  opacity: 1;
  width: 5.50959em;
  height: 5.50959em;
  margin-top: -2em;
  margin-left: -1.8em;
}

#mercury.orbit{
  width: 9.50959em;
  height: 9.50959em;
  margin-top: -3.9em;
  margin-left: -3.9em;
}

#mars.orbit{
  width: 23.50959em;
  height: 23.50959em;
  margin-top: -11.0em;
  margin-left: -11.0em;
} 

#venus .planet{
width: 1.5em;
height: 1.5em;
z-index: 2;
background-image: url(./images/venusmap.jpg); 
animation: shadow-uranus 40s linear infinite, spin 40s linear  infinite;

}

#mercury .planet {
  
  width: 0.8em;
  height: 0.8em;
  z-index: 3;
  background-image: url(./images/Mercury_MESSENGER_MDIS_Basemap_MD3Color_Mosaic_Global_1024.jpg); 
  animation: shadow-uranus 8s linear infinite, spin 15s linear infinite;
}
#earth .planet {
   width:3em;
   display: inline-block;
  height: 3em;
  z-index:4;
  box-shadow: 0px 0 2px 0.1px ;
  background: url(./images/ee.jpg)repeat-x;
  background-size: cover;
  animation: shadow-uranus 36s linear infinite, spin 10s linear  infinite;
  
}

#mars .planet {
 
  width:2.5em;
  height: 2.5em;
  box-shadow: 0px 0 2px 0.1px ;
  background: url(./images/96k-mars-color-map-3d-model.jpg);
  background-size: cover;
  animation: shadow-uranus 10s linear infinite, spin 10s linear  infinite;
}

#sun .planet {
 
  width: 7em;
  height: 7em;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
   box-shadow:  0 0 15px 2px rgb(248, 224, 2); 
  background: url(./images/640px-Map_of_the_full_sun.jpg);
  animation:sun-aura 1.5s linear alternate infinite,spin 35s linear infinite;
  background-size: cover;
}

/* .planet:hover{

} */



#mercury .pos,
#mercury.orbit{
  animation-duration: 8s;
  /* animation-delay: 0.3s; */
}

#venus .pos,
#venus.orbit {
 animation-duration: 40s; 
 /* animation-delay: 0.5s;  */

}

#earth .pos,
#earth.orbit {
animation-duration: 36s;
/* animation-delay: 0.7s; */
}
#mars.orbit,  
#mars .pos {
 animation-duration: 10s; 
 /* animation-delay: 0.5s;  */
}


.planetbig{
  position: relative;
  margin:1em -1em;
  padding: 2em;
  transform: scale(0.8)
  /* margin-top: 3em; */
  /* transform: scale(1.5); */
}

 .planetbig .pos{  
  position: absolute; 
  top:0;
  left:0;
  bottom:0;
  margin:auto;
     animation: linear infinite;
 }
  .planetbig .planet{ 
    position: absolute;
    top:0;
    right:-0.85em;
  left:0;
  bottom:0;
  }
  
 /* animation-play-state:shadow-uranus paused */


/* .planetbig:hover{
  transform: scale3d(2,2,2)
} */
/* .planetbig .planet {
  position: absolute
  margin: 2em;
padding: 4.2em;
  top: 1em;
  left:0em;
  margin: 2em;
  margin-top: 3em;
  transform: scale(1.5); */
 /* animation: shadow-uranus 2s linear infinite; */
 /* animation-play-state:shadow-uranus paused */

/* #earth.planetbig{
  animation-duration: 20s;
   margin: 7em;} */

 /* #earth.planetbig{ */
  /* animation-duration: 20s; */
  /* display: block;
  margin: 10em; */
/* } */
/* #mercury.planetbig{
  animation-duration: 20s
}
#sun.planetbig{
  animation-duration: 20s
}  */
.navbar{
  display: flex; 
  font-size: 15px;
  padding-bottom: 1.4em;
 flex-flow: row;
 flex-wrap: wrap;
 font-family: 'Rajdhani', sans-serif;
 color: white;
 margin-top: 1em;
 justify-content:space-evenly;
}

.topic{
  font-size:1.5em;
  padding: 0.2em; 
  /* box-shadow: inset 0.0em 0.4em 0.5em 0.1em rgb(163, 161, 149);  */
  border-radius: 100px;
  color: white;
}

.precent{
  position: relative;
  color: white;
}

.topic:hover{
  background-color:rgb(152, 149, 200);
  cursor:pointer;
 color: black ;
}

/* INFO CSS */
dl.infos {
  position: fixed;
  float:center;
  display: block;
  color: antiquewhite;
  width: 100%;
  height: 100%;
  margin-top: -90%;
  margin-left: 90%;
  font-family: 'Rajdhani', sans-serif;
  color: antiquewhite;
 }  

dl.infos:before {
  position: absolute;
  color: antiquewhite;

  content: ''; 
  width: 6em;
  height: 3em;
  left: 1em;
  bottom: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew(-45deg, 0deg);
 

  }
  dl.infos dt {
    position: absolute;
    text-transform: uppercase;
    left: 5em;
    margin-bottom: 2em;
    bottom: 4em;
    color: #FFF;
    font-size: 14px;
    text-shadow: 1px 1px 2px black; }

  
  dl.infos dd dt {
    position: absolute; 
    left: 50px;
    bottom: -0.1px;
    width: 300px;
    color: #FFF;
    font-size: 11px;
    text-shadow: 1px 1px 2px black; 
  }
  
  


@keyframes spin {

  0% {
    background-position: 200% ; }

  100% {
    background-position: 0; }
}

@keyframes popup{
  from {
    top: 0%;
   
  }

  to {
  top: -20%;
  }
}

 @keyframes orbit {

    0% {
      transform: rotateX(90deg) rotateZ(0deg);} 
      
      100% {
        transform: rotateX(90deg) rotateZ(-360deg)}

} 

@keyframes invert { 
0% {
  transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }

100% {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } 
}

@keyframes shadow-uranus {

    0% {
      box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  }

  25% {
      box-shadow: inset 23px -13px 23px rgba(0, 0, 0, 0.5);
  }

  25.01% {
      box-shadow: inset -45px -15px 20px rgba(0, 0, 0, 0.5);
  }

  50% {
      box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  75% {
      box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
  }
 
  100% {
      box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  }
  }


  @keyframes sun-aura {
    0% {
  box-shadow: 0 0 10px 2px #000 inset, 0 0 15px 2px rgb(248, 224, 2);

      }  
    100% {
      box-shadow: 0 0 10px 2px #000 inset, 0 0 35px 2px rgb(248, 224, 2);
   } }
    

   @media screen and (max-width: 500px){
     .planet
     {
       font-size:100%;
     }
   }
   /* @media screen and (max-width: 500px){
    { 
      font-size:50%;
    }
  }  */
  /* @media screen and (max-width: 500px) {
    #solar-system {
      font-size:39%; } } */
      /* Responsive adjustments */

      /* @media screen and (max-width: 299px) {
        #universe {
          font-size: 93%; } }
      @media screen and (min-width: 300px) {
        #universe,
        #popup {
          font-size:  100%; } }
      @media screen and (min-width: 500px) {
        #universe {
          font-size: 100%; } }
      @media screen and (min-width: 600px) {
        #universe
        {
          font-size: 100%; } }
      @media screen and (min-width: 760px) {
        #universe 
        #solar-system{
          font-size:100%; } }
    
        @media screen and (min-width: 1300px) {
          #universe {
            font-size: 100%; } } */

         
    