
*{
    box-sizing: border-box;
}
#animProg{
    font-size: 26px;
    color: rgb(246, 249, 251);
}
.contentcontainer{
    background-color: aqua; 
    border: 1px solid #000000;
    animation: popup 4s linear;
}

